html, body {
    width: 100%;
    height: 100%;
    min-width: 1000px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.wrapper {
    background: url("../img/background.jpg") repeat scroll center top /* fixed */ /* center top / cover */;
    background-size: cover;
    /* position: relative; */
    min-height: 100%;
    height:auto!important;
    overflow:hidden;
    padding-bottom: 60px;
}

/* .wrapper:after {
	content: "";
	height: 60px;
  position: absolute;
    bottom: -60px;
	display: block;
} */

/* === Header === */

.header {
    width: auto;
    height: 90px;
    /* background-color: #727070;
    background-image: url("../img/header_background.png"); */
    background: #727070 url("../img/header_background.png") /* no-repeat scroll center center */;
    margin-bottom: 35px;
    position: relative;
    border-bottom: 7px solid #fff;
    box-shadow: 0px 1px 0px 0px #c5c5c5;
}

.header-content {
    width: auto;
    max-width: 1500px;
    margin-left: auto;/* 10%;*/ /*109px;*/
    margin-right: auto;/* 9%;*/ /*99px;*/
    /* padding-top: 32px; */
}

/* === Logo === */



.header-logo {
    display: block;
    float: left;
    box-sizing: border-box;
    width: 95px;
    height: 71px;
    margin-top: 10px;
    /* background: url("img/logo2.png"); */
    margin-left: 109px;
    position: relative;
}

.header-logo-image {
    position: absolute;
}

.header-logo-link {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    text-indent: -9999px;
}

/* === Social buttons === */
    
ul.header-social {
    float: right;
    border: 0;
    padding: 0;
    margin: 0;
    height: 40px;
    margin-top: 26px;
    margin-right: 99px;
}

.header-social li, .header-social a {
    display: inline-block;
    height: 40px;
    width: 38px;
    padding: 0;
    border: 0;
    position: relative;
}

.header-social li {
    margin: 0 0 0 9px;
}

.header-social a {
    margin: 0;
}


/* === Main === */

.main {
    width: 960px;
    margin-right: auto;
    margin-left: auto;
}

/* === Aside === */

.aside {
    width: 250px;
    float: left;
    border: 0;
    padding: 0;
    margin: 0;
}

/* === Navigation === */

ul.main-nav {
    background: #fff;
    border-radius: 3px;
    overflow: hidden;
    display: block;
    width: 251px;
    border: 0;
    padding: 0;
    margin: 0 0 34px 0;
    list-style-type: none;
    text-decoration: none;
}

ul.main-nav li.main-nav-item {
    display: block;
    font-family: "Open Sans Semibold",  sans-serif;
    font-size: 20px; /* Приближение из-за подстановки шрифтов */
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
    border: 1px solid #c3c2c2;
    min-height: 24px;
    padding: 0;
    min-height: 54px;
    box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.07), inset 0px -2px 3px 0px rgba(41, 41, 41, 0.05);
    background-color:#f3f1f1;
    background: -webkit-linear-gradient(90deg, #e9e6e5 0%, #fbf9f9 94%, #ffffff 100%);
    background: -moz-linear-gradient(90deg, #e9e6e5 0%, #fbf9f9 94%, #ffffff 100%);
    background: -o-linear-gradient(90deg, #e9e6e5 0%, #fbf9f9 94%, #ffffff 100%);
    background: -ms-linear-gradient(90deg, #e9e6e5 0%, #fbf9f9 94%, #ffffff 100%);
    background: linear-gradient(0deg, #e9e6e5 0%, #fbf9f9 94%, #ffffff 100%);
}

ul.main-nav li a {
    color: #727070;
    text-decoration: none;
    display: block;
    margin: 0;
    border: 0;
    padding: 12px 28px 12px 28px
}

ul.main-nav li.main-nav-item:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

ul.main-nav li.main-nav-item:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    margin: 0;
}

ul.main-nav li.main-nav-item-active {
    min-height: 54px;
    font-family: "Open Sans Semibold", sans-serif;
    color: #1e7465;
    font-size: 20px;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.35);
    background-color: #00d8b6;
    background: -webkit-linear-gradient(90deg, #3eb799 0%, #7ee8ce 100%);
    background: -moz-linear-gradient(90deg, #3eb799 0%, #7ee8ce 100%);
    background: -o-linear-gradient(90deg, #3eb799 0%, #7ee8ce 100%);
    background: -ms-linear-gradient(90deg, #3eb799 0%, #7ee8ce 100%);
    background: linear-gradient(0deg, #3eb799 0%, #7ee8ce 100%);
    box-shadow: /* 0px 2px 1px 0px rgba(9, 9, 9, 0.16),*/ inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
    border-color: #66DBBE #2FA184 #2FA184;
    border-width: 1px;
    border-style: solid;
}

ul.main-nav li.main-nav-item:hover {
    background-color: #d8d5d5; 
    background: -webkit-linear-gradient(90deg, #c2c0c0 0%, #e3e1e1 86%, #e8e7e7 90%, #e8e7e7 100%);
    background: -moz-linear-gradient(90deg, #c2c0c0 0%, #e3e1e1 86%, #e8e7e7 90%, #e8e7e7 100%);
    background: -o-linear-gradient(90deg, #c2c0c0 0%, #e3e1e1 86%, #e8e7e7 90%, #e8e7e7 100%);
    background: -ms-linear-gradient(90deg, #c2c0c0 0%, #e3e1e1 86%, #e8e7e7 90%, #e8e7e7 100%);
    background: linear-gradient(0deg, #c2c0c0 0%, #e3e1e1 86%, #e8e7e7 90%, #e8e7e7 100%);
}

/* === Contacts === */

ul.contacts-list {
    display: block;
    width: 250px;
    border: 0;
    padding: 0;
    margin: 0;
    border-radius: 5px;
    list-style-type: none;
    text-decoration: none;
}

ul.contacts-list li {
    height: 36px;
    padding: 0;
    border-style: solid;
    border-width: 1px;
    border-color: #d6d5d3;
    background-color: #fbfbfb;
    background-image: -webkit-linear-gradient(#fafafa 1.3%, #f3f1f1);
    background-image: -moz-linear-gradient(#fafafa 1.3%, #f3f1f1);
    background-image: -o-linear-gradient(#fafafa 1.3%, #f3f1f1);
    background-image: linear-gradient(#fafafa 1.3%, #f3f1f1);
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.35);
    font-family: "Open Sans Regular", sans-serif;
    color: #727070;
    font-size: 14px;
    position: relative;
}

.contacts-header {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid #DDB32E;
    background-color: /* #fbfbfb; */ #efc477;
    background: /* transparent */ linear-gradient(to top, #DCB15D 10%, #F4CC7E 95%, #F8DDA7) repeat scroll 0% 0%;
    box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.17);
    min-height: 29px;
    margin: 0;
    padding: 6px 27px 6px 27px;
    font-family: "Open Sans Semibold";
    color: #d0992c;
    font-size: 20px;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
}

ul.contacts-list li {
    margin-bottom: -1px;
}

ul.contacts-list li a {
    display: block;
    height: 36px;
    text-decoration: none;
    color: #727070;
    width: 248px;
    
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    
    position: relative;
    
    width: 140px;
    display: inline-block;
    vertical-align: middle;
    line-height: 36px;
    
    padding-left: 100px;
}

ul.contacts-list li:hover {
    background-color: #f7f1e5;
    background: /* transparent */ linear-gradient(to bottom, #FFF 0%, #F3E8D4 100%) repeat scroll 0% 0%;
    text-decoration: underline;
} 


ul.contacts-list li:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.contacts {
    width: 250px;
}

.contacts-icon-container {
    display: block;
    width: 56px;
    height: 36px;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    position: absolute;
    left: 0;
}

.contacts-icon-container:after {
    position: absolute;
    right: 0px;
    content: '';
    display: inline-block;
    width: 10px;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
    background-image: url("../img/arrow-border.png");
    background-position: 0px -1px;
    background-repeat: no-repeat;
}

/* === Content === */

.main-content {
    float: right;
    width: 650px;
    margin-bottom: 1px;
}

/* === Section === */

.main-content-section {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    margin-bottom: 36px;
    background-color: #eff2f7;
    border-radius: 5px;
}

/* === Section Header === */

h3.content-section-header {
    min-height: 27px;
    padding: 8px 42px 13px 40px;
    margin: 0;
    position: relative;
    font-family: 'Open Sans Regular';
    color: #eeedec;
    font-size: 24px;
    text-align: left;
    text-shadow: 0px 1px 0px #666565;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #9d9d9d #6a6a6a #646464;
    box-shadow: /* 0px 2px 1px 0px rgba(9, 9, 9, 0.16),*/ inset 0px 1px 0px 0px #c4c2c2/* rgba(255, 255, 255, 0.3)*/;
    background-color: #939191;
    background: -webkit-linear-gradient(90deg, #7b7878 0%, #a9a8a8 100%);
    background: -moz-linear-gradient(90deg, #7b7878 0%, #a9a8a8 100%);
    background: -o-linear-gradient(90deg, #7b7878 0%, #a9a8a8 100%);
    background: -ms-linear-gradient(90deg, #7b7878 0%, #a9a8a8 100%);
    background: linear-gradient(0deg, #7b7878 0%, #a9a8a8 100%);
}

.content-section-container {
    padding: 38px 47px 37px 43px;
    border: 1px solid #c3c2c2;
    background-color: #f5f4f3;
    background-image: -webkit-linear-gradient(#fafbf9, #f0edec);
    background-image: -moz-linear-gradient(#fafbf9, #f0edec);
    background-image: -o-linear-gradient(#fafbf9, #f0edec);
    background-image: linear-gradient(#fafbf9, #f0edec);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
/* === Footer === */

.footer {
    margin-top: -60px;
    height: 60px;
    background-color: #fff;
    background: -webkit-linear-gradient(#eef2f1, #fbfbfb 1.8%, #ededed);
    background: -moz-linear-gradient(#eef2f1, #fbfbfb 1.8%, #ededed);
    background: -o-linear-gradient(#eef2f1, #fbfbfb 1.8%, #ededed);
    background: linear-gradient(#eef2f1, #fbfbfb 1.8%, #ededed);
    box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.1);
}

.footer-copyright {
    display: inline-block;
    padding: 0;
    margin: 0;
    border: 0;
    font-family: "Open Sans Light", sans-serif;
    font-size: 12px;   
    color: #727070;
}

.footer-content {
    width: 621px;
    margin: 0 auto;
    padding: 19px 0 0 0;
    border: 0;
}

.login {
    display: inline-block;
    vertical-align: middle;
    width: 63px;
    height: 23px;
    margin-right: 56px;
    padding: 0;
    border: 0;
    position: relative;
}

.login-button {
    float: right;
    width: 36px;
    height: 19px;
    margin-top: 0px;
    font-family: "Open Sans Bold", sans-serif;
    color: #9c9c9c;
    font-size: 14px;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.85);
}



/* === SPRITES === */

.sprite {
    background-image: url(../img/spritesheet1.png);
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.sprite-arrow-border {
    width: 10px;
    height: 38px;
    background-position: -29px -5px;
}

/* === Social icons === */

.facebook-icon {
    width: 10px;
    height: 22px;
    background-position: -5px -37px;
}

.header-social-facebook:hover > .facebook-icon {
    background-position: -131px -5px;
}

.vk-icon {
    width: 15px;
    height: 19px;
    background-position: -111px -142px;
}

.header-social-vk:hover > .vk-icon {
    background-position: -86px -142px;
}

.twitter-icon {
    width: 24px;
    height: 18px;
    background-position: -159px -83px;
}

.header-social-twitter:hover > .twitter-icon{
    background-position: -159px -55px;
}

.github-icon {
    width: 29px;
    height: 23px;
    background-position: -88px -65px;
}

.header-social-github:hover > .github-icon {
    background-position: -49px -37px;
}

/* === The end of Social icons === */

/* === Contacts icons === */

.email-icon {
    width: 16px;
    height: 12px;
    background-position: -105px -5px;
}

.phone-icon {
    width: 16px;
    height: 21px;
    background-position: -127px -94px;
}

.skype-icon {
    width: 19px;
    height: 19px;
    background-position: -57px -125px;
}

/* === End of Contacts icons === */




/* === Footer Login button icons === */

.sprite-locked {
    width: 23px;
    height: 21px;
    background-position: -127px -37px;
    margin: 0px;
}

a.login:hover > .sprite-locked {
    background-position: -153px -111px;
}

/* === End of Footer Login button icons === */

.sprite-login-checkmark {
    width: 9px;
    height: 8px;
    background-position: -25px -68px;
}

.sprite-login-email-icon {
    width: 22px;
    height: 16px;
    background-position: -127px -68px;
}

.sprite-login-grey_arrow {
    width: 11px;
    height: 40px;
    background-position: -5px -94px;
}

.sprite-login-key-icon {
    width: 21px;
    height: 19px;
    background-position: -26px -94px;
}

.sprite-social-circle-background {
    width: 38px;
    height: 40px;
    background-position: -155px -5px;
}

/* ::-webkit-input-placeholder {
    font-family: "Open Sans Regular", Arial , Helvetica, sans-serif;
    color: #c7c6c6;
    font-size: 12px;
}

:-moz-placeholder {
    font-family: "Open Sans Regular", Arial , Helvetica, sans-serif;
    color: #c7c6c6;
    font-size: 12px;
}

::-moz-placeholder {
    font-family: "Open Sans Regular", Arial , Helvetica, sans-serif;
    color: #c7c6c6;
    font-size: 12px;
}

:-ms-input-placeholder {  
    font-family: "Open Sans Regular", Arial , Helvetica, sans-serif;
    color: #c7c6c6;
    font-size: 12px;
}

:-ms-input-placeholder {  
    font-family: "Open Sans Regular", Arial , Helvetica, sans-serif;
    color: #c7c6c6;
    font-size: 12px; 
} */

.placeholder {  
    font-family: "Open Sans Regular", Arial , Helvetica, sans-serif;
    color: #c7c6c6;
    font-size: 12px;
}

[id*="-error"] {
    display: block;
    font-family: "Open Sans Semibold", Arial , Helvetica, sans-serif;
    color: #9a4e32;
    font-size: 11px;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.45);
    border-style: solid;
    border-width: 1px;
    border-color: #cd7b5d;
    border-radius: 5px;
    background-color: #E48E70;
    background: -webkit-linear-gradient(90deg, #d37654 0%, #f3a287 89%);
    background: -moz-linear-gradient(90deg, #d37654 0%, #f3a287 89%);
    background: -o-linear-gradient(90deg, #d37654 0%, #f3a287 89%);
    background: -ms-linear-gradient(90deg, #d37654 0%, #f3a287 89%);
    background: linear-gradient(0deg, #d37654 0%, #f3a287 89%);
    box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.17), inset 0px 1px 0px 0px #f3bfac;
    padding: 2px 8px 5px 8px;
    /* height: 25px; */
    position: absolute;
    top: 50%;
    margin: 0 10px 0 10px;
    white-space: nowrap;
    text-transform: lowercase;
}

#sender_email-error.error,
#captcha_input-error.error {
    left: 100%;    
}

#sender_name-error.error,
#feedback_mainmessage-error.error,
#new_project_name-error.error,
#filename-error.error,
#new_project_url-error.error,
#form-add_new_project-project_description-error.error {
    right: 100%;
}

[id*="-error"]:before {
    content: " ";
    /* background: #E48E70; */
    /* width: 9px; */
    /* height: 9px; */
    position: absolute;
    top: 5px;
    /* transform: rotate(45deg);*/
    
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;

}

#sender_email-error.error:before,
#captcha_input-error.error:before {
    left: -8px;
        border-right: 8px solid #E48E70;
    /* border-left: 1px solid #cd7b5d;
    border-bottom: 1px solid #cd7b5d; */
}


#new_project_name-error.error:before, #feedback_mainmessage-error.error:before,
#filename-error.error:before,
#new_project_url-error.error:before,
#form-add_new_project-project_description-error.error:before,
#sender_name-error.error:before {
    right: -8px;
        border-left: 8px solid #E48E70;
    /* border-right: 1px solid #cd7b5d;
    border-top: 1px solid #cd7b5d; */
}

/* #sender_email {
    height: 50px;
} */

.feedback-sender_email,
.feedback-sender_name,
.feedback-message,
.feedback-captcha-input,
.new_project_name-wrapper,
.addproject_field_box,
.new_project_url-wrapper,
.new_project_description-wrapper {
    position: relative;
}

#captcha_input.error, #feedback_mainmessage.error, #sender_name.error, #sender_email.error {
    border-color: red;
}

#captcha_input.valid, #feedback_mainmessage.valid, #sender_name.valid, #sender_email.valid {
    border-color: green;
}


.add_new_project-failure {
    width: 100%;
    height: 49px;
    background-color: #e0c3b9;
    display: none;
    position: relative;
    border: 1px solid #b46948;
    border-radius: 4px;
    padding: 0 10px 0 8px;
    box-sizing: border-box;
}

.add_new_project-success {
    width: 100%;
    height: 50px;
    background-color: lightgreen;
    display: none;
    position: relative;
    box-sizing: border-box;
    padding: 0 10px 0 8px;
    border: 1px solid #78ba7e;
    border-radius: 4px;
    background-color: #c6e5ce;
}

.hidden {
	display: none;
}

.failure-header {
    margin: 0;
    padding: 0;
    font-family: Open Sans Regular;
    font-size: 16px;
    color: #b56948;
}

.failure-message {
    margin: 0;
    padding: 0;
    color: #b56948;
    font-size: 14px;
    font-family: Open Sans Regular;
}

.failure-X {
    background: url(../img/failure-X.png);
    background-repeat: no-repeat;
    display: block;
    width: 11px;
    height: 11px;
    position: absolute;
    top: 5px;
    right: 5px;
}

.success-X {
    background: url(../img/success-X.png);
    background-repeat: no-repeat;
    display: block;
    width: 11px;
    height: 11px;
    position: absolute;
    top: 5px;
    right: 5px;
}
.popup-container {
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: #c3c2c2;
    background-color: #f5f4f3;
    width: 320px;
    /* min-height: 442px; */
    font-size: 14px;
    padding: 19px 21px 19px 21px;
    position: relative;
}

.success-header {
    margin: 0;
    padding: 0;
    font-family: Open Sans Regular;
    font-size: 16px;
    color: #78ba7e;
}

.success-message {
    margin: 0;
    padding: 0;
    color: #78ba7e;
    font-size: 14px;
    font-family: Open Sans Regular;
}

.facebook-link,
.vk-link,
.twitter-link,
.github-link {
    text-indent: -9999px;
}